// Bootstrap overwrite
@import 'overwrite/main.scss';

// Bootstrap required
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom overides or additional CSS/SCSS here,
// or via an @import
// Custom
@import 'mixins/responsive.scss';
@import 'variables.scss';
@import 'units.scss';
@import 'fonts.scss';
@import 'scaffolding.scss';
@import 'page-transitions.scss';
@import 'card.scss';
@import 'list-item-group.scss';

.vh-primary {
  height: 86vh;
}
.vh-secondary {
  height: 7vh;
}

main {
  background: theme-color('primary');
  overflow: auto;
  padding: px2rem(15) 0;
}
